* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #201717;
  font-family: Arial, sans-serif;
  
}
input,button{
  padding: 10px 20px;
  margin: 20px;
  font-size: 15px;
}